<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<body>

	<h2>Add a user</h2>

	<form method="post" action="/web/customers/addcustomer">
	  <label for="name">name:</label><br>
	  <input type="text" id="name" name="name"><br>
	  <label for="street">street:</label><br>
	  <input type="text" id="street" name="street"><br>
	  <label for="city">city:</label><br>
	  <input type="text" id="city" name="city"><br>
	  <label for="memo">memo:</label><br>
	  <input type="text" id="memo" name="memo"><br>
	  <input type="submit" value="Submit">
	</form> 

</body>
</html>
